# =========================================================================
# ChainDegree Environment Template (Copy this to .env and change values)
# =========================================================================

Blockchain__Besu__ConfigPath=C:\Your\Path\To\besu\config
Blockchain__Besu__DockerSocketUrl=npipe://./pipe/docker_engine

Blockchain__Besu__SystemPrivateKey=YOUR_LOCAL_BESU_PRIVATE_KEY
Jwt__Key=YOUR_LOCAL_STRONG_JWT_SECRET_KEY
AppPassword__MasterKey=YOUR_LOCAL_MASTER_KEY